<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Contact</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    {{> navbar}}

    <div class="container">
        <div class="text">New Contact</div>
        {{#if msg}}
        <p class="{{msg_type}}">{{msg}}</p>
        {{/if}}
            <form action="/auth/addContact" method="post">
                <div class="data">
                    <label for="name">Contact Name</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="data">
                    <label for="number">Number</label>
                    <input type="text" name="number" 
                    id="number">
                </div>
                <div class="btn">
                    <button type="submit">Submit</button>
                </div>
                <div class="signup-link">
                    Go to <a href="/contact">   Contact Book</a>
                </div>
                
            </form>
        
    </div>
    
</body>
</html>