<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot-password</title>
    <link rel="stylesheet" href="/css/style.css">


</head>
<body>

    {{> navbar}}
    
    <div class="container">
        <div class="text">Reset Password</div>
        {{#if msg}}
        <p class="{{msg_type}}">{{msg}}</p>
        {{/if}}
            <form action="/auth/reset-password/{{user._id}}" method="post">

                <div class="data">
                    <label for="old_password">Old Password</label>
                    <input type="password" name="old_password" 
                    id="password">
                </div>
              
                <div class="data">
                    <label for="new_password">New Password</label>
                    <input type="password" name="new_password" 
                    id="password">
                </div>
                <div class="data">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" name="confirm_password" 
                    id="password">
                </div>
                <div class="btn">
                    <button type="submit">Submit</button>
                </div>
                
            </form>
        
    </div>
    
</body>
</html>