
.whole_container{
    width: 100%;
    display: flex;
    
    justify-content: center;
    

}
.contact-container {

    width: 80%;
    background-color: white;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px
    -2px, rgba(0, 0, 0, 0.3) 0px 8px 7px -3px;
    padding: 10px;
    padding-bottom: 30px;

}
.heading{
    width: 100%;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    color: rgb(88, 51, 122);
    margin-bottom: 20px;
    display: flex;
    position: relative;
    align-items: center;
}
.contact {
    width: 100%;
    text-align: center;
}


.add_contact {
    font-size: 15px;
    display: flex;
    position: absolute;
    width: 100%;  
    justify-content: end;
    padding-right: 10px;
}
.add_contact a {
    text-decoration: none;
    padding: 7px;
    background-color:  rgb(88, 51, 122);
    color: white;
    border-radius: 3PX;
    
}
.user_details {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 500;
    color: rgb(83, 24, 138);
    padding: 5px;
}


table{
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
    border: 3px solid ;
    border-color: rgba(88, 50, 122, 0.5);
    border-top: none;
}
th,td {
    text-align: center;
    padding: 10px;
}
thead tr {
    background-color:  rgb(88, 51, 122);
    
    color: white;
    
}
thead tr th {
    font-weight: 500;
}
tbody tr td {
    font-weight: 500;
}
tbody tr:nth-child(even) {
    background-color: #d8d6d6;
}
.delete_btn {
    background: none;
    border: none;
    background-color:  rgb(88, 51, 122);
    padding: 3px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    width: 50px;
    border-radius: 3px;
}
.edit_btn_column{
    display: flex;
    justify-content: center;

}
.edit_btn_box{
    display: flex;
    width: 50px;
}
.edit_btn {
    /* border: 1px solid black; */
    
    text-decoration: none;
    background: none;
    border: none;
    background-color:  rgb(88, 51, 122);
    padding: 3px;
    color: white;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    width: 50px;
    border-radius: 3px;
}
.export_btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.export_btn a{
    
    text-decoration: none;
    font-weight: 600;
    color: rgb(87, 60, 112);
}
.export_btn a:hover{
    text-decoration: underline;
}