.image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.img-upload {
    width: 100%;
    display: flex;
    justify-content: center;

}
.img-upload input{
    cursor: pointer;
}