.image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.img-upload {
    width: 100%;
    display: flex;
    justify-content: center;

}
.img-upload input{
    cursor: pointer;
}

.reset_link{
    display: flex;
    justify-content: center;
}

.reset_link a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(87, 60, 112);
    
}
.reset_link a:hover{
    text-decoration: underline;
}